.login {
    display: flex;
    justify-content: center;
}

.login-top {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-top: 100px;
    border: solid 3px black;
    border-radius: 20px;
    
}

.input-container {
    margin-top: 20px;
}

.input-text {
    font-size: 20px;
}